@mixin media-query($media-query){
  @media only screen and (max-width: $media-query){ @content; }
}

$themeColor: rgb(0, 188, 212);

body {
  padding: 0;
  margin: 0;
  width: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  a {
    text-decoration: none;
    color: $themeColor;
    transition: opacity 0.5s;
    &:hover { opacity: 0.5; }
  }
  .landing { background-color: $themeColor; }
  .error {
    font-size: 12px;
    color: #ff0000;
  }
}

.leftNav p {
  padding: 0 25px;
  text-align: justify;
  &:last-of-type { padding-bottom: 30px; }
}

.navbar {
  top: 0;
  width: 100%;
}

.intro {
  min-height: 200px;
  padding-top: 100px;
  color: #fff;
  margin: 0 auto;
  width: 60%;
  @include media-query(425px){
    padding-top: 75px;
    width: 90%;
  }
  &-title {
    font-size: 30px;
    @include media-query(768px){ font-size: 25px; }
    @include media-query(425px){ font-size: 20px; }
    font-weight: 300;
  }
  &-subtitle {
    font-size: 15px;
    @include media-query(768px){ font-size: 13px; }
    @include media-query(425px){ font-size: 12px; }
    font-weight: 300;
  }
}

.calculator {
  background-color: #fff;
  &-flowForm {
    padding: 10px 50px;
    margin: 0 auto;
    width: 500px;
    @include media-query(768px){ width: 256px; }
    &-clear {
      float: right;
      margin: 20px 0;
    }
  }
  .results {
    width: 320px;
    @include media-query(768px){ width: 256px; }
    padding: 20px;
    margin: 20px auto;
    .result {
      color: $themeColor;
      &Unit { font-size: 10px; }
    }
  }
}